{% import "macros/buttons.html" as buttons %}
{% import "macros/forms.html" as forms %}
{% import "macros/modal.html" as modal %}
{% import "macros/icons.html" as icons %}

{% extends "admin/subscription_plans/list.html" %}

{% block head_title_content %}{{ subscription_plan.name }} · {{ super() }}{% endblock %}

{% set open_modal = true %}

{% block modal %}
  <form
    hx-boost="true"
    hx-target="#modal"
    method="POST"
    action="{{ url_for('dashboard.subscription_plans:update', id=subscription_plan.id) }}"
    _="on auth:closeModal go back"
  >
  {% call modal.header() %}
    {% call modal.title() %}Edit Subscription Plan {{ subscription_plan.name }}{% endcall %}
  {% endcall %}
  {% call modal.body() %}
    <div class="space-y-4">
      {{ forms.form_field(form.name) }}
      {{ forms.form_field(form.details) }}
      {{ forms.form_field(form.granted_by_default) }}
      {{ forms.form_field(form.expiry_interval) }}
      {{ forms.form_field(form.expiry_unit) }}
      {{ forms.form_field(form.roles) }}
      {{ forms.form_csrf_token(form) }}
    </div>
  {% endcall %}
  {% call modal.footer() %}
    <button type="button" class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" _="install CloseModalButton()">Cancel</button>
    {% call buttons.submit('btn-sm') %}
      Update
    {% endcall %}
  {% endcall %}
  </form>
{% endblock %}