{% import 'macros/forms.html' as forms %}

{% extends "auth/layout.html" %}

{% block head_title_content %}{{ _('Reset password') }}{% endblock %}

{% block auth_form %}
<div style="padding: 2rem; background: linear-gradient(to right, #1C1C4B, #544485); box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); backdrop-filter: blur(4px); border-radius: 0.75rem; transition: border-color 0.3s, box-shadow 0.3s;">
  <div style="display: flex; gap: 1rem; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 1rem;">
    <img style="width: 130px;" src="{{ url_for('dashboard:static', path='/logo.png') }}" />
    <h1 class="text-3xl text-white font-bold ">{{ _('Reset password') }}</h1>
  
  </div>
  <form method="POST" action="{{ tenant.url_path_for(request, 'reset:reset') }}">
    <div class="space-y-4 text-white">
      {{ forms.form_field(form.password) }}
      {{ form.token }}
      {{ forms.form_csrf_token(form) }}
    </div>
    <div class="flex items-center justify-between mt-6 mb-2">
    </div>
    <button type="submit" style='background: linear-gradient(to right, #5c63f0, #a65cf0);' class="btn text-white w-full">{{ _('Reset my password') }}</button>
  </form>
  {% if show_branding %}
  <div class="pt-5 mt-6 text-white border-t border-light">
    {{ branding.branding() }}
  </div>
{% endif %}
</div>
{% endblock %}
