{% import "macros/buttons.html" as buttons %}
{% import "macros/icons.html" as icons %}

{% extends "admin/subscriptions/get/base.html" %}

{% block tab %}
<div class="mt-6">
  <ul>
    <li class="flex items-center justify-between py-3 border-b border-slate-200">
      <div class="text-sm whitespace-nowrap">Name</div>
      <div class="text-sm font-medium text-slate-800 ml-2 truncate">{{ subscription.name }}</div>
    </li>
    <li class="flex items-center justify-between py-3 border-b border-slate-200">
      <div class="text-sm whitespace-nowrap">Public</div>
      <div class="text-sm font-medium text-slate-800 ml-2 truncate">
        {% if subscription.is_public %}
          {{ icons.check('w-4 h-4') }}
        {% else %}
          {{ icons.x_mark('w-4 h-4') }}
        {% endif %}
      </div>
    </li>
    <li class="flex items-center justify-between py-3 border-b border-slate-200">
      <div class="text-sm whitespace-nowrap">Accounts Limit</div>
      <div class="text-sm font-medium text-slate-800 ml-2 truncate">
        {{ subscription.accounts }}
      </div>
    </li>
    <li class="flex items-center justify-between py-3 border-b border-slate-200">
      <div class="text-sm whitespace-nowrap">Payment Product ID</div>
      <div class="text-sm font-medium text-slate-800 ml-2 truncate">
        {{ subscription.stripe_product_id }}
      </div>
    </li>
    <li class="flex items-center justify-between py-3 border-b border-slate-200">
      <div class="text-sm whitespace-nowrap">Tenant</div>
      <div class="text-sm font-medium text-slate-800 ml-2 truncate">
        {{ subscription.tenant.name }}
      </div>
    </li>
  </ul>
</div>
{% if subscription.roles %}
  <div class="mt-6">
    <div class="text-sm font-semibold text-slate-800 mb-1">Roles</div>
    <ul>
      {% for role in subscription.roles %}
        <li class="flex items-center justify-between py-3 border-b border-slate-200">
          <div class="text-sm text-slate-800 ml-2 truncate">{{ role.display_name }}</div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
<div class="mt-6 space-y-4">
  <a
    href="{{ url_for('dashboard.subscriptions:update', id=subscription.id) }}"
    class="btn w-full border-slate-200 hover:border-slate-300"
    hx-boost="true"
    hx-target="#modal"
    _="install OpenModal"
  >
    Edit Subscription
  </a>
  <a
    href="{{ url_for('dashboard.subscriptions:delete', id=subscription.id) }}"
    class="btn w-full bg-red-500 hover:bg-red-600 text-white"
    hx-boost="true"
    hx-target="#modal"
    _="install OpenModal"
  >
    Delete Subscription
  </a>
</div>
{% endblock %}