{% import "macros/branding.html" as branding %}

{% extends "auth/base.html" %}

{% block body %}
<main style='background-color: #080f26;' >
  <img src="{{ url_for('dashboard:static', path='/BG.webp') }}" alt="bg" style="z-index: -10;" class="bg-[size:100%] bg-no-repeat overflow-x-hidden absolute " />

  <div style="gap: 1rem;" class="flex items-center justify-start h-16 py-2 px-4 sm:px-6 lg:px-8">

    <img src="{{ url_for('dashboard:static', path='/logo.png') }}" alt="{{ tenant.name }}" class="max-h-full max-w-[100px]" />

    <span class="text-3xl  text-white font-bold">{{ tenant.name }}</span>

  </div>

  <div class="w-full px-4 sm:px-6 lg:px-8 my-0 lg:my-8">
    <div class="shadow-lg rounded-sm border border-slate-200 mb-8">
      <div class="flex flex-col md:flex-row md:-mr-px">
        {% include "auth/dashboard/sidebar.html" %}
        <div class="grow">
          <div class="p-6 space-y-6">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if show_branding %}
    {{ branding.branding() }}
  {% endif %}
</main>
{% endblock %}
