{% import "macros/alerts.html" as alerts %}
{% import "macros/icons.html" as icons %}

{% extends "admin/tenants/get/base.html" %}

{% block head_title_content %}{{ tenant.name }} · Subscriptions · {{ super() }}{% endblock %}

{% block tab %}
<div class="bg-white shadow-lg rounded-sm border border-slate-200">
  <div class="overflow-x-auto">
    <table class="table-auto w-full">
      <thead class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
        <tr>
          <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
            <div class="font-semibold text-left">Name</div>
          </th>
          <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
            <div class="font-semibold text-left">Accounts Limit</div>
          </th>
          <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
            <div class="font-semibold text-left">Tiers</div>
          </th>
          <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
            <div class="font-semibold text-center">Status</div>
          </th>
        </tr>
      </thead>
      <tbody class="text-sm divide-y divide-slate-200">
        {% for subscription in subscriptions %}
          <tr>
            <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
              <div class="font-medium text-slate-800">
                <a href="{{ url_for('dashboard.subscriptions:get', id=subscription.id) }}" hx-boost="true" hx-target="#aside" _="install OpenAside">
                  {{ subscription.name }}
                </a>
              </div>
            </td>
            <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
              <div class="text-left">{{ subscription.accounts }}</div>
            </td>
            <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
              <div class="text-left">{{ subscription.tiers|length }}</div>
            </td>
            <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
              <div class="text-center">
                {% if subscription.is_public %}
                  <span class="badge bg-success">Public</span>
                {% else %}
                  <span class="badge bg-slate-400">Private</span>
                {% endif %}
              </div>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="4" class="px-2 first:pl-5 last:pr-5 py-3">
              <div class="text-center">No subscription plans found for this tenant.</div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}