{% import "macros/buttons.html" as buttons %}
{% import "macros/forms.html" as forms %}
{% import "macros/modal.html" as modal %}
{% import "macros/icons.html" as icons %}

{% extends "admin/users/list.html" %}

{% block head_title_content %}Add Subscription for {{ user.email }} · {{ super() }}{% endblock %}

{% set open_modal = true %}

{% block modal %}
  <form
    hx-boost="true"
    hx-target="#modal"
    method="POST"
    action="{{ url_for('dashboard.users:add_subscription', id=user.id) }}"
    _="on auth:closeModal go back"
  >
  {% call modal.header() %}
    {% call modal.title() %}Add Subscription for {{ user.email }}{% endcall %}
  {% endcall %}
  {% call modal.body() %}
    <div class="space-y-4">
      {{ forms.form_field(form.organization) }}
      {{ forms.form_field(form.tier) }}
      {{ forms.form_field(form.status) }}
      {{ forms.form_field(form.stripe_subscription_id) }}
      {{ forms.form_csrf_token(form) }}
    </div>
  {% endcall %}
  {% call modal.footer() %}
    <button type="button" class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" _="install CloseModalButton()">Cancel</button>
    {% call buttons.submit('btn-sm') %}
      Add Subscription
    {% endcall %}
  {% endcall %}
  </form>
{% endblock %}